In [1]:
from PandOpt import pandopt
import pandas as pd
import numpy as np
import tqdm 
import pandas as pd
import numpy as np
import timeit
import functools
import time


def agg_sum(z):
    return np.sum(z)

def agg_mean(z):
    return np.mean(z)

def agg_max(z):
    return np.max(z)

def agg_min(z):
    return np.min(z)

def agg_std(z):
    return np.std(z)

def agg_sum(z):
    return np.sum(z)

def agg_custom(z):
    print(z.shape)
    if z['A',-1] > z['B',0]:
        return np.median(z['C']) - np.std(np.log(z))
    return np.mean(z["C"]) / 2 / np.std(z)

ModuleNotFoundError: No module named 'PandOpt'

In [2]:

pandas_df = pd.DataFrame(np.random.randn(10000, 4), columns=['A', 'B', 'C', 'D']).astype(np.float32)
pandopt_df = pandopt(pandas_df)

%time a = pandas_df.agg(agg_sum, axis=1).rolling(25).apply(agg_sum)
%time a2 = pandas_df.sum(axis=1).rolling(25).sum()
%time b = pandopt_df.rolling(25).apply(agg_sum, axis=1)

print(np.sum(a.dropna().values), np.sum(a2.dropna().values), np.sum(b.values))


%time a = pandas_df.rolling(25).apply(agg_sum)
%time a2 = pandas_df.rolling(25).sum()
%time b = pandopt_df.rolling(25).apply(agg_sum, axis=1)

print(np.sum(a.dropna().values), np.sum(a2.dropna().values), np.sum(b.values))

CPU times: user 533 ms, sys: 0 ns, total: 533 ms
Wall time: 533 ms
CPU times: user 1.58 ms, sys: 0 ns, total: 1.58 ms
Wall time: 1.43 ms
(9976, 4, 25) MOVE SHAPE TO  25 4
1 True fidD3_to_D2_TrueD3_to_D2_TrueTrueagg_sum
(9976, 4, 25) (34, 1) (9976, 1)
CPU times: user 1.74 s, sys: 39 ms, total: 1.78 s
Wall time: 1.77 s
5582.848180342466 5582.848180342466 5582.848505012691
CPU times: user 1.4 s, sys: 0 ns, total: 1.4 s
Wall time: 1.4 s
CPU times: user 754 µs, sys: 0 ns, total: 754 µs
Wall time: 735 µs
(9976, 4, 25) MOVE SHAPE TO  25 4
1 True fidD3_to_D2_TrueD3_to_D2_TrueTrueagg_sum
(9976, 4, 25) (34, 1) (9976, 1)
CPU times: user 3.64 ms, sys: 0 ns, total: 3.64 ms
Wall time: 572 µs
5582.848538602037 5582.848538602037 5582.848505012691

In [3]:
pandas_df = pd.DataFrame(np.random.randn(10000, 4), columns=['A', 'B', 'C', 'D']).astype(np.float32)
pandopt_df = pandopt(pandas_df)
pandopt_df.rolling(2).apply(agg_sum), pandas_df.rolling(2).apply(agg_sum)

(9999, 4, 2) MOVE SHAPE TO  2 4
0 True fidD3_to_D2_TrueD3_to_D2_FalseABCDagg_sum
(9999, 4, 2) (11, 4) (9999, 4)

(             A         B         C         D
 1    -1.674616  3.902491 -1.321442  0.082701
 2    -1.399608  2.952631 -0.366256  0.992523
 3    -1.022978 -0.554519  1.070892  2.647099
 4    -1.704087  0.749522  2.203085  1.654937
 5    -0.881862  2.257730  1.393843  0.034733
 ...        ...       ...       ...       ...
 9995 -0.718896  0.902270 -1.272563 -0.581781
 9996  0.117984 -0.137017 -0.073636 -1.575410
 9997 -1.113306 -1.456367  2.269982  0.448175
 9998 -0.174489 -0.197640  2.201348  0.858918
 9999  2.546889  0.678836  0.574333  1.024494

 [9999 rows x 4 columns],
              A         B         C         D
 0          NaN       NaN       NaN       NaN
 1    -1.674616  3.902491 -1.321442  0.082701
 2    -1.399608  2.952631 -0.366256  0.992523
 3    -1.022978 -0.554519  1.070892  2.647099
 4    -1.704087  0.749522  2.203085  1.654936
 ...        ...       ...       ...       ...
 9995 -0.718896  0.902270 -1.272563 -0.581781
 9996  0.117984 -0.137017 -0.073636 -1.575410
 9997 -1.113306 -1.456367  2.269982  0.448175
 9998 -0.174489 -0.197640  2.201348  0.858918
 9999  2.546889  0.678836  0.574333  1.024494

 [10000 rows x 4 columns])

In [4]:
from numpy.lib.stride_tricks import sliding_window_view
self=pandopt_df.rolling(2)
sliding_window_view(self._idf.to_numpy(), self.window, axis=0)[-1,0,0]

2.0049508

In [5]:
pandopt_df

             A         B         C         D
0    -1.085795  1.223690 -0.896859 -0.316160
1    -0.588821  2.678801 -0.424583  0.398860
2    -0.810787  0.273830  0.058327  0.593663
3    -0.212191 -0.828349  1.012565  2.053436
4    -1.491896  1.577871  1.190520 -0.398499
...        ...       ...       ...       ...
9995 -0.948150  0.367751 -0.539043 -1.019177
9996  1.066134 -0.504768  0.465407 -0.556233
9997 -2.179440 -0.951600  1.804575  1.004407
9998  2.004951  0.753959  0.396773 -0.145489
9999  0.541939 -0.075123  0.177560  1.169983

[10000 rows x 4 columns]

In [4]:
pandopt_df.apply(agg_sum, axis=1), pandas_df.apply(agg_sum, axis=1)

1 False fidD3_to_D2_FalseD3_to_D2_False49995000agg_sum
(10000, 4) (10, 1) (10000, 1)

(             0
 0    -0.133653
 1     1.602568
 2     2.591749
 3     2.197273
 4    -0.397659
 ...        ...
 9995 -0.541186
 9996  0.627719
 9997  0.983645
 9998  0.660891
 9999 -3.413658

 [10000 rows x 1 columns],
 0      -0.133653
 1       1.602568
 2       2.591749
 3       2.197273
 4      -0.397659
           ...
 9995   -0.541186
 9996    0.627719
 9997    0.983645
 9998    0.660891
 9999   -3.413658
 Length: 10000, dtype: float32)

In [5]:
pandopt_df.apply(agg_sum, axis=0), pandas_df.apply(agg_sum, axis=0)

0 False fidD3_to_D2_FalseD3_to_D2_FalseABCDagg_sum
(4, 10000) (3, 1) (4, 1)

(            0
 A   71.124428
 B   17.681725
 C  142.122681
 D   49.475143,
 A     71.124413
 B     17.681728
 C    142.122620
 D     49.475113
 dtype: float32)

In [6]:
pandopt_df.rolling(25).apply(agg_sum), pandas_df.rolling(25).apply(agg_sum)

0 True fidD3_to_D2_TrueD3_to_D2_FalseABCDagg_sum
(9976, 25, 4) (34, 4) (9976, 4)

(             A         B         C         D
 24   -1.810552  0.529814  5.850923  3.157982
 25    1.793020  6.805947  2.929333 -3.694774
 26    5.453939  3.928572 -2.477421  1.767415
 27    0.886278 -2.602606  1.246723  5.001317
 28   -2.311397  0.811541  3.961298  1.378178
 ...        ...       ...       ...       ...
 9995  1.162086  1.900003 -4.262682  4.577627
 9996  2.853628 -5.362487  2.879831  1.991213
 9997 -4.728848  1.645613  2.093932  3.259487
 9998  2.038964  2.664794  3.370551 -3.117125
 9999  0.688753  1.629583 -5.683341  4.045975

 [9976 rows x 4 columns],
              A         B         C         D
 0          NaN       NaN       NaN       NaN
 1          NaN       NaN       NaN       NaN
 2          NaN       NaN       NaN       NaN
 3          NaN       NaN       NaN       NaN
 4          NaN       NaN       NaN       NaN
 ...        ...       ...       ...       ...
 9995 -1.285863 -0.991730  4.718940  0.935687
 9996 -0.826392  0.018687  3.292290 -0.122399
 9997  0.194070  0.518326  1.526473  0.031314
 9998  2.498870  0.087310  4.332323 -1.961319
 9999  4.315579 -3.738416  3.122828 -3.019023

 [10000 rows x 4 columns])

In [7]:
pandas_df.rolling(25).apply(agg_sum)

             A         B         C         D
0          NaN       NaN       NaN       NaN
1          NaN       NaN       NaN       NaN
2          NaN       NaN       NaN       NaN
3          NaN       NaN       NaN       NaN
4          NaN       NaN       NaN       NaN
...        ...       ...       ...       ...
9995 -1.285863 -0.991730  4.718940  0.935687
9996 -0.826392  0.018687  3.292290 -0.122399
9997  0.194070  0.518326  1.526473  0.031314
9998  2.498870  0.087310  4.332323 -1.961319
9999  4.315579 -3.738416  3.122828 -3.019023

[10000 rows x 4 columns]

In [8]:
pandopt_df.rolling(25).apply(agg_sum)

0 True fidD3_to_D2_TrueD3_to_D2_FalseABCDagg_sum
(9976, 25, 4) (34, 4) (9976, 4)

             A         B         C         D
24   -1.810552  0.529814  5.850923  3.157982
25    1.793020  6.805947  2.929333 -3.694774
26    5.453939  3.928572 -2.477421  1.767415
27    0.886278 -2.602606  1.246723  5.001317
28   -2.311397  0.811541  3.961298  1.378178
...        ...       ...       ...       ...
9995  1.162086  1.900003 -4.262682  4.577627
9996  2.853628 -5.362487  2.879831  1.991213
9997 -4.728848  1.645613  2.093932  3.259487
9998  2.038964  2.664794  3.370551 -3.117125
9999  0.688753  1.629583 -5.683341  4.045975

[9976 rows x 4 columns]

In [9]:
result=np.array([[ 75.55809784],
 [ 74.32876587],
 [ 30.66032982],
 [-61.68107224]])
new_index= None
new_columns = ['A', 'B', 'C', 'D']
pandopt(result, index=new_columns, columns=None)

           0
A  75.558098
B  74.328766
C  30.660330
D -61.681072

In [10]:
pandopt_df.rolling(25).apply(agg_sum, axis=1)

1 True fidD3_to_D2_TrueD3_to_D2_TrueTrueagg_sum
(9976, 25, 4) (34, 1) (9976, 1)

             0
24    7.728168
25    7.833527
26    8.672508
27    4.531712
28    3.839619
...        ...
9995  3.377035
9996  2.362187
9997  2.270183
9998  4.957183
9999  0.680968

[9976 rows x 1 columns]

In [11]:
pandas_df.rolling(25).apply(agg_sum)

KeyboardInterrupt

In [ ]:
def agg_sum(z):
    return np.sum(z)
    
for ten_exponant in range(4,10):
    dfsize=int(10**ten_exponant)
    print(f'testing 1e{ten_exponant}')
    pandas_df = pd.DataFrame(np.random.randn(dfsize, 4), columns=['A', 'B', 'C', 'D']).astype(np.float32)
    pandopt_df = pandopt(pandas_df)
    if ten_exponant < 6:
        t1=time.time()
        a = pandas_df.agg(agg_sum, axis=1).rolling(25).apply(agg_sum)
        print('pandas apply: ', time.time() - t1)
    
    t1=time.time()
    a2 = pandas_df.sum(axis=1).rolling(25).sum()
    print('pandas sum: ', time.time() - t1)
    t1=time.time()

    array = pandas_df.to_numpy()
    t1=time.time()
    a2 = pandas_df.sum(axis=1).rolling(25).sum()
    print('numpy sum: ', time.time() - t1)
    t1=time.time()

    b = pandopt_df.rolling(25).apply(agg_sum, axis=1)
    print('pandopt apply: ', time.time() - t1)
    t1=time.time()

In [ ]:

for ten_exponant in range(4,10):
    dfsize=int(10**ten_exponant)
    print(f'testing 1e{ten_exponant}')

    pandas_df = pd.DataFrame(np.random.randn(dfsize, 4), columns=['A', 'B', 'C', 'D']).astype(np.float32)
    pandopt_df = pandopt(pandas_df)
    t1=time.time()
    a2 = pandas_df.rolling(25).sum()
    print('pandas: ', time.time() - t1)
    t1=time.time()
    b = pandopt_df.rolling(25).apply(agg_sum, axis=1)
    print('pandopt: ', time.time() - t1)
    print(np.sum(a2.dropna().values), np.sum(b.values))
    print()

In [ ]:
pandopt_df = pandopt(pandas_df)

%time a = pandas_df.rolling(25).apply(agg_sum)
%time a2 = pandas_df.rolling(25).sum()
%time b = pandopt_df.rolling(25).apply(agg_sum, axis=1)

print(np.sum(a.dropna().values), np.sum(a2.dropna().values), np.sum(b.values))

In [ ]:
pandopt_df.rolling(25).apply(agg_sum, axis=2)

In [ ]:
pandas_df = pd.DataFrame(np.random.randn(1000, 4), columns=['A', 'B', 'C', 'D']).astype(np.float32)
pandopt_df = pandopt(pandas_df)

%time b = pandopt_df.rolling(25).apply(agg_sum, axis=1)
%time c = pandopt_df.rolling(25).apply(agg_sum, axis=0)

In [ ]:
b, c

In [ ]:
pandopt_df.__class__._compiled_func

In [ ]:
from numpy.lib.stride_tricks import sliding_window_view
self=pandopt_df.rolling(25)
data = sliding_window_view(self._idf.to_numpy(), self.window, axis=0)
data[:,].reshape((data.shape[0], data.shape[2], data.shape[1])).shape

In [ ]:
pandas_df = pd.DataFrame(np.random.randn(1000, 4), columns=['A', 'B', 'C', 'D']).astype(np.float32)
pandopt_df = pandopt(pandas_df)

%time a = pandas_df.agg(agg_sum, axis=1).rolling(25).apply(agg_sum)
%time a2 = pandas_df.sum(axis=1).rolling(25).sum()
%time b = pandopt_df.rolling(25).apply(agg_sum, axis=0)

print(np.sum(a.dropna().values), np.sum(a2.dropna().values), np.sum(b.values))

In [ ]:
pandopt._compiled_func

In [ ]:

def measure_performance(df, func, window_size=3):
    try:
        if type(df)==pandopt:
            operation = functools.partial(df.rolling(window=window_size).apply, func, axis = 0,raw=True)
        else:
            operation = functools.partial(df.rolling(window=window_size).apply, func, raw=True)
        start_time = timeit.default_timer()
        result = operation()
        elapsed_time = timeit.default_timer() - start_time
        return np.sum(result.dropna().values), elapsed_time, None
    except Exception as e:
        return None, None, str(e)

def run_tests(data_size, agg_funcs):
    results = {}
    total_tests = (data_size - 1) * len(agg_funcs) 
    progress_bar = tqdm.tqdm(total=total_tests, desc="Running Tests", ncols=100)

    for test_num in range(1, data_size):
        df_size = int(10**test_num)
        for func in agg_funcs:
            for test_iter in range(15):
                pandas_df = pd.DataFrame(np.random.randn(df_size, 4), columns=['A', 'B', 'C', 'D']).astype(np.float32)
                pandopt_df = pandopt(pandas_df)
                pandas_checksum, pandas_time, pandas_error = measure_performance(pandas_df, func)
                pandopt_checksum, pandopt_time, pandopt_error = measure_performance(pandopt_df, func)

                key = f"Size: 10^{test_num}, Func: {func.__name__}, Test: {test_iter}"
                results[key] = {
                    "Pandas Time (s)": pandas_time,
                    "Pandopt Time (s)": pandopt_time,
                    "Checksum Pandas": pandas_checksum,
                    "Checksum Pandopt": pandopt_checksum,
                    "Pandas Error": pandas_error,
                    "Pandopt Error": pandopt_error
                }

            progress_bar.update(1)

    progress_bar.close()
    return pd.DataFrame.from_dict(results, orient='index')

agg_functions = [agg_sum, agg_mean, agg_max, agg_min, agg_std]

results_df = run_tests(data_size=5, agg_funcs=agg_functions)
results_df

In [ ]:
results_df['time reduction'] = results_df["Pandopt Time (s)"] / results_df["Pandas Time (s)"] - 1
results_df['performance multiplicator'] = results_df["Pandas Time (s)"] / results_df["Pandopt Time (s)"] - 1
results_df

In [ ]:
results_df.to_csv('benchmark.csv')
results_df

In [ ]:
measure_performance(pandas_df, agg_mean, 5)

In [ ]:
pandopt_df

In [ ]:
pandopt_df.rolling(25)._idf._compiled_func['fid4950agg_sum']['_vectorized'](data)

In [ ]:
results_df['performance multiplicator'].dropna()