In [2]:
import numpy as np
import numba as nb
import pandas as pd
import logging
from typing import Callable, Type, Dict, Tuple, Any

In [7]:
arr = np.random.randn(100_000,6).astype(np.float32)
df = pd.DataFrame(arr, columns = ['A', 'B', 'C', 'D', 'E', 'F'])

In [9]:
df

              A         B         C         D         E         F
0      1.032279  0.485217  0.595952 -2.116733 -0.414691 -0.810296
1     -0.201293  0.873256  0.520983  1.021241 -0.369817  1.430104
2     -0.350060  0.015870 -0.260632 -0.708720  0.993041  0.974639
3      1.457859  0.469869 -0.931984 -0.079241 -0.943906  0.158079
4     -2.746704  0.632441  0.444373  1.283445 -2.662606 -0.651279
...         ...       ...       ...       ...       ...       ...
99995  0.188388  0.891772 -1.297181  0.811985 -1.015723 -0.186734
99996 -1.654861  0.244776  0.421317 -1.179401 -1.207330  0.276257
99997  0.817934  0.125947 -1.220647 -1.404806  0.236441  0.543637
99998  2.231064  0.181550 -1.046635  0.692106 -0.311170  0.174778
99999  0.086472 -0.432862  0.821271 -0.460518  0.228472  0.238039

[100000 rows x 6 columns]